.login{
     width: 100%;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #fff;
     
     .wrapper{
          background-color: blue;
          margin: 30px;
          padding: 30px;
          border-radius: 10px;
          display: flex;
          flex-direction: column;

          .heading{
               font-size: 20px;
               font-style: italic;
               display: flex;
               align-items: center;
               justify-content: center;
               margin: 20px;
               padding: 20px;
          }

          form{
               display: flex;
               align-items: center;
               justify-content: center;
               flex-direction: column;

               span{
                    font-size: 15px;
                    font-weight: 500;
                    padding: 20px;
                    margin: 20px;
               }
               input{
                    outline: none;
                    border: none;
                    margin: 20px;
                    padding: 10px;
                    background-color: rgba(0,0,0,0.5);
                    color: #fff;
                    cursor: pointer;
                    border-radius: 5px;
                    &::placeholder{
                         color: #fff;
                    }
               }
               button{
                    padding: 10px;
                    margin: 10px;
                    border: 1px dashed #fff;
                    outline: none;
                    cursor: pointer;
                    color: #fff;
                    font-size: 17px;
                    border-radius: 5px;
                    &:hover{
                         color: blue;
                         background-color: #fff;
                         border: 1px dashed blue;
                    }
               }
               .link{
                    color: #fff;
                    font-style: italic;
                    font-size: 15px;
               }
          }
     }
}